
<!doctype html>
<html lang="en" dir="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insta Dash | Responsive Bootstrap 4 Admin Dashboard Template</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/backend-plugin.min.css?v=2.0.0">
    <link rel="stylesheet" href="/assets/css/backend.css?v=2.0.0">
    <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="/assets/vendor/@icon/dripicons/dripicons.css">
    
    <link rel='stylesheet' href='/assets/vendor/fullcalendar/core/main.css' />
    <link rel='stylesheet' href='/assets/vendor/fullcalendar/daygrid/main.css' />
    <link rel='stylesheet' href='/assets/vendor/fullcalendar/timegrid/main.css' />
    <link rel='stylesheet' href='/assets/vendor/fullcalendar/list/main.css' />
    <link rel="stylesheet" href="/assets/vendor/mapbox/mapbox-gl.css"></head>

    <style>
        #map {
            width: 100%;
            height: 450px;
        }
    </style>

<body>
    <!-- loader Start -->
    <div id="loading">
            <div id="loading-center">
            </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
           <div class="content-wrapper">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="d-flex align-items-center justify-content-between welcome-content">
                    <div class="navbar-breadcrumb">
                        <h4 class="mb-1">Welcome To Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-danger icon iq-icon-box-2 mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-funnel-dollar"></i>
                                    </div>
                                    <span class="text-primary"><i class="ri-arrow-up-fill mr-1"></i> +12.12%</span>
                                </div>
                                <div class="mt-4 ">
                                    <h3>76.64k</h3>
                                    <span class="mb-0">Google ads Conversions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-block card-stretch card-height bg-primary">
                            <div class="card-body">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-white icon iq-icon-box-2 mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-money-check-alt text-primary"></i>
                                    </div>
                                    <span class="text-white"><i class="ri-arrow-down-line mr-1"></i> -42.72% </span>
                                </div>

                                <div class="mt-4 ">
                                    <h3 class="text-white">$7,323.34</h3>
                                    <span class="mb-0  text-white">Google Ads Cost</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-success icon iq-icon-box-2 mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="lar la-hand-pointer"></i>
                                    </div>
                                    <span class="text-primary"> <i class="ri-arrow-up-fill mr-1"></i> +42.72%</span>
                                </div>

                                <div class="mt-4 ">
                                    <h3>4,043</h3>
                                    <span class="mb-0">Google Ads Clicks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-info icon iq-icon-box-2 mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-file-invoice-dollar"></i>
                                    </div>
                                    <span class="text-danger"><i class="ri-arrow-down-line mr-1"></i> -42.72%
                                        </span>
                                </div>

                                <div class="mt-4 ">
                                    <h3>76.56.23%</h3>
                                    <span class="mb-0">Google Ads Conversions Rate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-orange icon iq-icon-box-2 mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-signal"></i>
                                    </div>
                                    <span class="text-primary"><i class="ri-arrow-up-fill mr-1"></i> +42.72%</span>
                                </div>

                                <div class="mt-4 ">
                                    <h3>76.64k</h3>
                                    <span class="mb-0">Google ads cost Conversions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-skyblue icon iq-icon-box-2 mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-mouse-pointer"></i>
                                    </div>
                                    <span class="text-danger"><i class="ri-arrow-down-line mr-1"></i> -42.72%
                                        </span>
                                </div>

                                <div class="mt-4 ">
                                    <h3>53.6k</h3>
                                    <span class="mb-0">Google ads Impressions Rate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height rtl-card">
                    <div class="card-header border-none">
                        <div class="header-title">
                            <h4 class="card-title">Top Keywords (Conversions)</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="iq-details">
                            <h5 class="title">Agency Analytics</h5>
                            <div class="iq-progress-bar bg-primary-light mt-2">
                                <span class="bg-primary iq-progress progress-1" data-percent="67">
                                    <span class="progress-text-one bg-primary">67%</span>
                                </span>
                            </div>
                        </div>
                        <div class="iq-details mt-4">
                            <h5 class="title">Seo Report</h5>
                            <div class="iq-progress-bar bg-orange-light mt-2 text-white">
                                <span class="bg-orange iq-progress progress-1" data-percent="49">
                                    <span class="progress-text-one bg-orange">49%</span>
                                </span>
                            </div>
                        </div>
                        <div class="iq-details mt-4">
                            <h5 class="title">Social Media reporting</h5>
                            <div class="iq-progress-bar bg-info-light mt-2">
                                <span class="bg-info iq-progress progress-1" data-percent="86">
                                    <span class="progress-text-one bg-info">86%</span>
                                </span>
                            </div>
                        </div>
                        <div class="iq-details mt-4">
                            <h5 class="title">Web Ads</h5>
                            <div class="iq-progress-bar bg-success-light mt-2">
                                <span class="bg-success iq-progress progress-1" data-percent="47">
                                    <span class="progress-text-one bg-success">47%</span>
                                </span>
                            </div>
                        </div>
                        <div class="iq-details mt-4">
                            <h5 class="title">YouTube Ads</h5>
                            <div class="iq-progress-bar bg-danger-light mt-2">
                                <span class="bg-danger iq-progress progress-1" data-percent="79">
                                    <span class="progress-text-one bg-danger">79%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header border-none">
                        <div class="header-title">
                            <h4 class="card-title mb-1">Demographic Audience</h4>
                            <span class="mb-0">See insights on how you profile has grown and changed over time</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="layout-3-chart-01" class="layout-3-chart-01"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header border-none">
                        <div class="header-title">
                            <h4 class="card-title mb-1">Statistic by gender</h4>
                            <span class="mb-0">Mar 17 - Apr 03</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="layout-3-chart-02"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-block card-stretch card-height rule-box">
                    <div class="card-header d-flex justify-content-between border-none">
                        <div class="header-title">
                            <h4 class="card-title">IP Exclusions by Rule ( Today )</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="perfomer-lists m-0 p-0">
                            <li class="d-flex mb-4 align-items-center">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-primary icon iq-icon-box mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-globe"></i>
                                    </div>
                                </div>
                                <div class="media-support-info ml-3 rtl-mr-3 rtl-ml-0">
                                    <h5>Anonymous</h5>
                                    <p class="mb-0 font-size-14">Creative Performance</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <h4>268</h4>
                                </div>
                            </li>
                            <li class="d-flex mb-4 align-items-center">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-info icon iq-icon-box mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="lar la-hand-pointer"></i>
                                    </div>
                                </div>
                                <div class="media-support-info ml-3 rtl-ml-0 rtl-mr-3">
                                    <h5>Excessive Clicking</h5>
                                    <p class="mb-0 font-size-14">Media Performance</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <h4>4342</h4>
                                </div>
                            </li>
                            <li class="d-flex mb-4 align-items-center">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-skyblue icon iq-icon-box mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-signal"></i>
                                    </div>
                                </div>
                                <div class="media-support-info ml-3 rtl-mr-3 rtl-ml-0">
                                    <h5>Premium Impressions</h5>
                                    <p class="mb-0 font-size-14">Reach Performance</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <h4>6565</h4>
                                </div>
                            </li>
                            <li class="d-flex  align-items-center">
                                <div class="top-block-one d-flex align-items-center justify-content-between">
                                    <div class="bg-success icon iq-icon-box mr-2 rtl-ml-2 rtl-mr-0 rounded">
                                        <i class="las la-desktop"></i>
                                    </div>
                                </div>
                                <div class="media-support-info ml-3 rtl-ml-0 rtl-mr-3">
                                    <h5>Google Ads</h5>
                                    <p class="mb-0 font-size-14">Premium Performance</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <h4>32423</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="card card-block card-stretch card-height">
                <div class="card-header border-none">
                    <div class="header-title">
                        <h4 class="card-title">Facebook Overview</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div id="layout-1-chart-06"></div>
                </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-block card-stretch card-height ">
                    <div class="card-header border-none">
                        <div class="header-title">
                            <h4 class="card-title">Target Population for you brand</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Target Population</th>
                                        <th scope="col">Visitor</th>
                                        <th scope="col">Potential</th>
                                        <th scope="col">Actual</th>
                                        <th scope="col">Reached%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span>Man aged between<b> 18-24</b></span></td>
                                        <td>45,332</td>
                                        <td>25,500-32,000</td>
                                        <td>36,070</td>
                                        <td>
                                            <div class="btn btn-primary">42.12% <i class="ri-arrow-up-fill"></i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Man aged between<b> 25-34</b></span> </td>
                                        <td>13,830</td>
                                        <td>32,500-37,000</td>
                                        <td>39,970</td>
                                        <td>
                                            <div class="btn btn-danger">12.93% <i class="ri-arrow-down-line"></i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Man aged between<b>35-44</b></span></td>
                                        <td>95,98</td>
                                        <td>37,500-43,000</td>
                                        <td>46,990</td>
                                        <td>
                                            <div class="btn btn-danger">02.76% <i class="ri-arrow-down-line"></i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Man aged between<b> 44-60</b></span></td>
                                        <td>58,732</td>
                                        <td>44,500-49,000</td>
                                        <td>50,555</td>
                                        <td>
                                            <div class="btn btn-primary">82.12% <i class="ri-arrow-up-fill"></i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Man aged between<b> 60+</b></span></td>
                                        <td>95,332</td>
                                        <td>51,500-59,790</td>
                                        <td>61,786</td>
                                        <td>
                                            <div class="btn btn-primary">92.41% <i class="ri-arrow-up-fill"></i></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header border-none">
                        <div class="header-title">
                            <h4 class="card-title">Media Values</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="layout-3-chart-04">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
    <!-- Wrapper End-->

    
    
    

    <!-- Backend Bundle JavaScript -->
    <script src="/assets/js/backend-bundle.min.js"></script>
    
    <!-- Flextree Javascript-->
    <script src="/assets/js/flex-tree.min.js"></script>
    <script src="/assets/js/tree.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="/assets/js/table-treeview.js"></script>
    
    <!-- Masonary Gallery Javascript -->
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    
    <!-- Mapbox Javascript -->
    <script src="/assets/js/mapbox-gl.js"></script>
    <script src="/assets/js/mapbox.js"></script>
    
    <!-- Fullcalender Javascript -->
    <script src='/assets/vendor/fullcalendar/core/main.js'></script>
    <script src='/assets/vendor/fullcalendar/daygrid/main.js'></script>
    <script src='/assets/vendor/fullcalendar/timegrid/main.js'></script>
    <script src='/assets/vendor/fullcalendar/list/main.js'></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="/assets/js/sweetalert.js"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="/assets/js/vector-map-custom.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="/assets/js/customizer.js"></script>
    <script src="/assets/js/rtl.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="/assets/js/chart-custom.js"></script>
    
    <!-- slider JavaScript -->
    <script src="/assets/js/slider.js"></script>
    
    <!-- app JavaScript -->
    <script src="/assets/js/app.js"></script>

</body>

</html>