<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Machine</title>
</head>
<body>
    <h1>Create Machine</h1>
    <form method="POST" action="/machines">
        <label for="serial">Serial:</label>
        <input type="number" id="serial" name="serial" required><br>

        <label for="status">Status:</label>
        <input type="checkbox" id="status" name="status" checked><br>

        <label for="qrcode">QR Code:</label>
        <input type="text" id="qrcode" name="qrcode" required><br>

        <label for="zone">Zone:</label>
        <div class="mb-3">
            <label for="zone" class="form-label">Velg Sone</label>
            <select id="zone" name="zone" class="form-select" required>
                <!-- Options will be added dynamically using JavaScript -->
            </select>
        </div>
        <br>

        <button type="submit">Create</button>
    </form>
    <a href="/machines">Cancel</a>
</body>

<script>
    // Function to populate the zone dropdown with data from /api/zones
  async function populateZoneDropdown() {
              try {
                  const zoneDropdown = document.getElementById('zone');
  
                  // Fetch zones data from /api/zones
                  const response = await fetch('/api/zones');
                  const zones = await response.json();
  
                  // Populate the dropdown options
                  zones.forEach((zone) => {
                      const option = document.createElement('option');
                      option.value = zone._id;
                      option.text = zone.name;
                      zoneDropdown.appendChild(option);
                   });
              } catch (error) {
                  console.error('Error fetching and populating zones:', error);
              }
          }
  
          // Invoke the code when the DOM content is loaded
        document.addEventListener('DOMContentLoaded', () => {
              // Populate the zone dropdown when the page loads
              populateZoneDropdown();
          });
  </script>
  
</html>
